.vs-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .vs-content {
    height: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    .vs-view {
      flex: auto;
    }
  }
  .vs-boxinfo {
    background-color: #ffffff;
    border: 0.5px solid var(--border-color);
    display: flex;
    flex-direction: column;
    .vs-boxinfo_header {
      border-bottom: 2px solid var(--border-color);
      display: flex;
      .vs-boxinfo_title {
        padding: 7px 5px;
        margin: 0;
        flex: auto;
      }
      .vs-boxinfo_button {
        padding: 7px 5px;
        flex: none;
      }
    }
    .vs-boxinfo_warp {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
      min-height: 150px;
      /* width */
      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      .vs-boxinfo_content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        min-height: 100px;
      }
    }
  }
  .vs-dock {
    display: flex;
    flex-direction: column;
    :last-child {
      flex: auto;
    }
  }
  .vs-property,
  .vs-control,
  .vs-project {
    width: 250px;
    padding: 0;
  }
  .vs-control {
    width: 200px;
  }
  .vs-tab {
    float: left;
    .node-item {
      padding: 10px;
      display: inline-block;
      border-right: 1px solid #cacaca;
      &:hover,
      &.active {
        background-color: #3e88ce;
        color: #fff;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.vs-property {
  .property-item {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 5px;
    display: flex;
    .property-label {
      width: 60px;
      padding: 5px;
      flex: none;
    }
    .property-value {
      flex: auto;
      padding: 1px;
      position: relative;
      .node-editor {
        width: 100%;
        span {
          padding: 4px;
        }
      }
    }
  }
}
.vs-breadcrumb-group {
  display: flex;
  .group-button {
    flex: none;
    height: 100%;
    button {
      height: 98%;
    }
    margin: 0px 1px;
  }
  .group-warp {
    flex: auto;
    position: relative;
    margin-left: 5px;
    height: 35px;
    .group-body {
      height: 100%;
      position: absolute;
      width: 100%;
      overflow: auto;
      /* width */
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      ul {
        height: 95%;
        padding: 0;
        margin: 0;
        list-style: none;
        width: max-content;
        li {
          padding: 4px;
          float: left;
          &.group-item:hover {
            cursor: pointer;
            background: #eee;
          }
        }
      }
    }
  }
}
.vs-variable {
  input,
  select {
    width: 98%;
    min-width: 10px;
    margin: 0;
    padding: 0;
  }
  max-height: 300px;
  overflow: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    td {
      text-align: center;
    }
    .variable-name {
      max-width: 400px;
    }
    .variable-type {
      max-width: 300px;
    }
    .variable-scope {
      max-width: 300px;
    }
  }
}
.vs-tab-project {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: #eee;
  .tab-project__search {
    flex: none;
    margin: 0px 5px;
  }
  .tab-project__list {
    flex: auto;
    display: flex;
    height: 35px;
    .tab-project_button {
      flex: none !important;
      padding: 2px;
      button {
        padding: 5px;
      }
    }
    .tab-project_warp {
      width: 100%;
      overflow: hidden;
      position: relative;
      padding-right: 5px;
      .tab-project__body {
        height: 100%;
        position: absolute;
        white-space: nowrap;
        .project-item {
          cursor: pointer;
          text-align: center;
          min-width: 120px;
          display: inline-flex;
          padding: 5px;
          margin: 1px;
          background: #ccc;
          border: 1px solid #cacaca;
          .pro-name {
            flex: auto;
          }
          .pro-button {
            flex: none;
            button {
              display: none;
              background: transparent;
              border: none;
              padding: 5px;
              &:hover {
                background: #ccc;
                cursor: pointer;
                border: 1px solid #aaa;
                border-radius: 5px;
                padding: 4px;
              }
            }
          }
          &:hover {
            background: #bbb;
          }
          &.active {
            border-bottom: none;
            background: #fff;
            margin: 1px 1px 0px 1px;
            height: 40px;
          }
          &:hover,
          &.active {
            .pro-button {
              button {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.node-box {
  .node-box_title {
    padding: 5px;
    margin: 2px 0px 0px 0px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    background: #eee;

    &:hover {
      background: #bbb;
    }
  }
  .node-box_boby {
    padding-left: 15px;
    padding-right: 5px;
    display: none;
    .node-item {
      padding: 5px;
      border-bottom: 1px solid #cacaca;
      &:hover,
      &.active {
        background-color: #3e88ce;
        color: #fff;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  &.active {
    .node-box_boby {
      display: block;
    }
  }
}
