html,
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: "Roboto", sans-serif;
}
:root {
  --border-color-dock: #ddd9d9;
  --border-color: #cacaca;
  --background-color: #ffffff;
  --background-box-title: #f7f7f7;
}
.bg-z {
  background-size: 25px 25px;
  background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}
.node-form-control {
  display: block;
  width: calc(100% - 10px);
  padding: 3px 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.15rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-center {
  text-align: center;
}
@for $i from 0 through 20 {
  .p#{$i} {
    padding: #{$i}px;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
  .pl#{$i} {
    padding-left: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .m#{$i} {
    margin: #{$i}px;
  }
  .mt#{$i} {
    padding-top: #{$i}px;
  }
  .mb#{$i} {
    padding-bottom: #{$i}px;
  }
  .ml#{$i} {
    padding-left: #{$i}px;
  }
  .mr#{$i} {
    padding-right: #{$i}px;
  }
}
.display-flex {
  display: flex;
}
.flex-none {
  flex: none !important;
}
@import "./editor.scss";
@import "./dock.scss";
@import "./node.scss";
