html,
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
:root {
  --border-color: #cacaca;
  --background-color: #ffffff;
  --background-box-title: #f7f7f7;
}

.workerflow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .workerflow-control {
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    .workerflow-control__header {
      padding: 7px 5px;
      margin: 0;
      border-bottom: 2px solid var(--border-color);
    }
    .workerflow-control__list {
      padding: 0;
      margin: 0;
      .workerflow-control__item {
        padding: 12px 8px;
        border-bottom: 1px solid var(--border-color);
      }
    }
  }
  .workerflow-desgin {
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    flex: auto;
    .workerflow-items {
      width: 100%;
      height: 45px;
      .workerflow-item {
        padding: 12px 8px;
        display: inline-block;
        border-right: 1px solid #cc3;
      }
    }
    .workerflow-view {
      flex: auto;
      background: var(--background-color);
      background-size: 25px 25px;
      background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
        linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
      overflow: hidden;
      position: relative;
      .workerflow-canvas {
        position: relative;
        width: 100%;
        height: 100%;
        user-select: none;
        .connection {
          position: absolute;
          pointer-events: none;
          .main-path {
            fill: none;
            stroke: #4ea9ff;
            stroke-width: 3px;
            pointer-events: all;
            &.active {
              stroke-width: 5px;
              stroke: #3e88ce;
            }
          }
        }
        svg {
          z-index: 0;
          position: absolute;
          overflow: visible !important;
        }
        .workerflow-node {
          display: flex;
          align-items: center;
          position: absolute;
          min-height: 40px;
          border-radius: 4px;
          background: var(--background-color);
          border: 1px solid var(--border-color);
          -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
          box-shadow: 0 2px 15px 2px var(--border-color);
          padding: 0px;
          width: 200px;
          color: #000;
          z-index: 2;
          &.active {
            border: 2px solid var(--border-color);
          }
          .workerflow-node_inputs,
          .workerflow-node_outputs {
            width: 0;
            padding: 5px 0px 0px 0px;
            .dot {
              position: relative;
              height: 12px;
              width: 12px;
              background: #fff;
              border-radius: 50%;
              border: 2px solid var(--border-color);
              cursor: crosshair;
              z-index: 1;
              margin-bottom: 5px;
              right: 8px;
            }
          }
          .workerflow-node_content {
            padding: 10px;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}
